@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/content/site.css" rel="stylesheet" />
    <title>@ViewBag.Title Aesop App</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <a class="navbar-brand" href="/Home/Index">Aesop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                @if (SignInManager.IsSignedIn(User))
                {
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Contact/Index">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Contact/About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Aesops1">Sell</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Category Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Aesop/List?category=Body">Body</a>
                            <a class="dropdown-item" href="/Aesop/List?category=Cleanse">Clease</a>
                            <a class="dropdown-item" href="/Aesop/List?category=Hydrate">Hydrate</a>
                            <a class="dropdown-item" href="/Aesop/List?category=Treat">Treat</a>
                            <a class="dropdown-item" href="/Aesop/List?category=Sun Care">Sun Care</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Aesop/List">View All Aesop</a>
                        </div>
                    </li>
                    https://localhost:44333/Contact/Index
                    <li class="nav-item">
                        <a href="#!" class="nav-link navbar-link-2 waves-effect">
                            <span class="badge badge-pill red">Shopping Cart @await Component.InvokeAsync("ShopCartSummary")</span>
                            <i class="fas fa-shopping-cart pl-0"></i>
                        </a>
                    </li>


                </ul>
                    <partial name="_LoginPartial" />
                }
                else
                {
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Contact/Index">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contact/About">About</a>
                </li>
            </ul>
                    <partial name="_LoginPartial" />
                }
            </div>
        </nav>


        <div class="row">
            <div class="col-md-3">
                <p class="lead">
                    <img class="img-reponsive" src="/images/aesop-logo.png" />
                </p>
            </div>
            <div class="col-lg-12">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; 2020 - Eric Shop </p>
                </footer>
            </div>
        </div>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
