@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Aesop was established in 1987. We are headquartered in Melbourne, 
    and have offices and stores in many parts of the world.
</p>
<p>
    Our objective has always been to formulate skin, 
    hair and body care products of the finest quality;
    we investigate widely to source plant-based and 
    laboratory-made ingredients, and use only those with 
    a proven record of safety and efficacy. In each of 
    our unique stores, informed consultants are pleased 
    to introduce the Aesop range and to guide your selections.
</p>
<p>
    When considering new locations, 
    it is our intention to weave ourselves 
    into the fabric of the street and add something of 
    merit rather than impose a discordant presence.

</p>
<p>
    In 2003, in an underground nook in the Melbourne 
    bayside suburb of St Kilda, we hosted our first 
    in-store customers. The space – once a narrow ramp 
    descending into an underground carpark – set the 
    benchmark for future architectural ambitions. 
    In seeking new locations, our first consideration 
    is always to work with what is already in place; 
    we tread lightly with respect for the past, present and future.

</p>

<h2>Our story</h2>
<p>‘Do not wish to be anything but what you are, and try to be that perfectly’</p>
