
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Ellengowan Dr<br />
    Brinkin, NT 0810<br />
    Phone: 1800 180 180 <br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:s322698@students.cdu.edu.au">s322698@students.cdu.edu.au</a><br />
    <strong>Marketing:</strong> <a href="mailto:s322698@students.cdu.edu.au">s322698@students.cdu.edu.au</a>
</address>