@model HomeViewModel

<partial name="_Carousel" />

<h2>Aesop On Sale</h2>

<div class="row">

    @foreach (var aesop in Model.AesopOnSale)
    {
        <partial name="_aesopCard" model="aesop" />
    }

</div>