@model AesopListViewModel


    <h1>@Model.CurrentCategory</h1>
    @foreach (var aesop in Model.Aesops)
    {
    <div>
        <h2>@aesop.Name</h2>
        <h3>@aesop.Price.ToString("c")</h3>
        <h4>@aesop.Category.CategoryName</h4>
    </div>
    }
