@model ShopCartViewModel

@if (Model.ShopCart.ShopCartItems.Count > 0)
{
    <li>
        <a asp-controller="ShopCart" asp-action="Index">
            <span class="glyphicon glyphicon-shop-cart"></span>
            <span id="cart-status">
                @Model.ShopCart.ShopCartItems.Count
            </span>
        </a>
    </li>
}